

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1em;
}

body,
.text {
    font-family: "THSarabun";
    font-size: 18px;
}

.text-sm-all,
.text-sm-all *{
    font-size: 14px;
}

.title {
    font-family: "THSarabun";
    font-size: 18px;
    text-align: center;
}

.subtitle {
    font-family: "THSarabun";
    font-size: 18px;
    font-weight: bold;
}

header {
    height: 100%;
}

table {
    width: 100%;
}

th.fit,
td.fit {
    width: 1%;
    white-space: nowrap;
}

th.under,
th.grow,
td.under,
td.grow {
    position: relative;
    text-align: center;
}

th.under.fix,
td.under.fix {
    font-size: 18px;
    height: 20px;
    line-height: 1em;
}

th.fix-under,
td.fix-under {
    color: rgba(255, 255, 255, 0);
    width: 0px;
    background-color: red;
}

th.under > span,
td.under > span {
    position: relative;
    bottom: 0.15em;
}

th.under::after,
td.under::after {
    content: "-";
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -0.3em;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px dotted black;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

section {
    page-break-inside: avoid;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.w-1{
    width: 10%;
}

.w-2{
    width: 20%;
}

.w-3{
    width: 30%;
}

.w-4{
    width: 40%;
}

.w-5{
    width: 50%;
}

.w-6{
    width: 60%;
}

.w-7{
    width: 70%;
}

.w-8{
    width: 80%;
}

.w-9{
    width: 90%;
}

.w-full{
    width: 100%;
}

.push-left{
    margin-left: auto;
}

.push-center{
    margin: 0 auto;
}

td.indent-mini{
    padding-right: 0.5em;
}
td.indent{
    padding-left: 2em;
}

table.table{
    border-collapse: collapse;
}
table.table,
table.table > thead > tr > th,
table.table > thead > tr > td,
table.table > tfoot > tr > td,
table.table > tfoot > tr > th,
table.table > tbody > tr > td,
table.table > tfoot > tr > td,
table.table > tfoot > tr > th,
table.table > tbody > tr > th{
    border: 1px solid;
    text-align: center;
}

table.table > thead > tr > th,
table.table > tfoot > tr > th,
table.table > tbody > tr > th{
    vertical-align: top;
}

hr{
    border: 0; /* Remove default border */
    border-top: 1px solid #000; /* Apply a dotted top border */
    height: 0; /* Ensure no additional height */
    margin: 0; /* Add spacing (optional) */
    width: 100%; /* Ensure full width */
}

.dotted-hr {
    border-top: 1px dashed #000; /* Apply a dotted top border */
}
