@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection {
    background-color: white;
    border: 1px solid;
    cursor: text;
    position: relative;

    @apply border-gray-400 rounded-md px-2 py-2 dark:border-gray-600 dark:text-gray-300 dark:bg-dark-eval-1;
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection{
    height: 42px;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    @apply bg-primary text-white;
}

.travel-row input{
    @apply w-full border-0 ring-0 outline-0 bg-inherit
}

.travel-row td{
    @apply border dark:border-gray-900/25
}
